header {
  background-color: blue;
  height: 100vh;
  border: 1px solid black;
}

section {
  background-color: yellow;
  height: 500px;
  border: 1px solid black;
}

footer {
  background-color: green;
  height: 500px;
  border: 1px solid black;
}