body {
  font-family: 'Poppins', sans-serif;;
}

h1 {
  font-size: 70px;
  font-weight: 600;
  margin: 0;
}

h2 {
  font-size: 50px;
  font-weight: 600;
}

header {
  background-color: #144272;
  height: 100vh;
  border: 1px solid black;
  color: white;
}

section {
  background-color: yellow;
  height: 500px;
  border: 1px solid black;
}

.section-1 {
  background-color: #F15A59;
  color: white;
}

footer {
  background-color: green;
  height: 500px;
  border: 1px solid black;
}

.nav-pane-boss-level {
  background-color: #0A2647;
  margin-top: 0;
}

.top-pane {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px 10px 20px;
}

.logo-pane-inner {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.logo-pane-outer {
  display: flex;
  justify-content: space-between;
}

.nav-pane {
  display: flex;
  justify-content: space-between;
}

.nav-1 {
  display: flex;
  justify-content: space-between;
}

.nav-2 {
  display: flex;
  justify-content: space-between;
}

.nav-ul-1 {
  display: flex;
  justify-content: space-between;
  width: 500px;
  list-style-type: none;
  font-size: 15px;
  font-weight: 600;
}

.nav-ul-2 {
  display: flex;
  justify-content: space-between;
  width: 200px;
  font-size: 15px;
  list-style-type: none;
  font-weight: 600;
}

.nav-ul-1-li {
  text-decoration: none;
}

.nav-ul-1-li:hover {
  color: #ffd493;
}

.nav-ul-2-li {
  text-decoration: none;
}

.nav-ul-2-li:hover {
  color: #ffd493;
}

.link-nav-1 {
  text-decoration: none;
  color: white;
}

.heading-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.heading-area-text {
  margin-left: 100px;
}


.heading-area-text-title {
  margin: 0;
}

.heading-area-text-title:hover {
  color: greenyellow;
}

.heading-area-text-tagline {
  font-weight: 400;
  margin: 0;
}