body {
  font-family: 'Poppins', sans-serif;;
}

header {
  background-color: blue;
  height: 100vh;
  border: 1px solid black;
  color: white;
}

section {
  background-color: yellow;
  height: 500px;
  border: 1px solid black;
}

footer {
  background-color: green;
  height: 500px;
  border: 1px solid black;
}

.top-pane {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px 10px 20px;
}

.logo-pane-inner {
  display: flex;
  justify-content: space-between;
}

.logo-pane-outer {
  display: flex;
  justify-content: space-between;
}

.nav-pane {
  display: flex;
  justify-content: space-between;
}

.nav-1 {
  display: flex;
  justify-content: space-between;
}

.nav-2 {
  display: flex;
  justify-content: space-between;
}

.nav-ul-1 {
  display: flex;
  justify-content: space-between;
  width: 500px;
  list-style-type: none;
  font-weight: 600;
}

.nav-ul-2 {
  display: flex;
  justify-content: space-between;
  width: 200px;
  list-style-type: none;
  font-weight: 600;
}

.nav-ul-1-li {
  text-decoration: none;
}

.nav-ul-1-li:hover {
  color: rgb(202, 202, 202);
}

.nav-ul-2-li {
  text-decoration: none;
}

.nav-ul-2-li:hover {
  color: rgb(202, 202, 202);
}

.link-nav-1 {
  text-decoration: none;
  color: white;
}